

<h3 class="title" style="text-align: center;">Do you expect to need any of the following dental services in the coming year?</h3>
<p class="subtitle text-muted"  style="text-align: center;">Be sure to consider yourself and any family members you plan to cover this year.</p>

<div class="progress">
    <div class="progress-bar" role="progressbar"  style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> Step 3 of 4</div>
</div>

<hr class="solid">

<div class="flex-container">
    <div class="card" style="width: 35rem;" style="display: flex;">
       
        <div class="card-body" style="display:grid" >
            <div>
                <h4 style="color: #83beeb;">DID YOU KNOW?</h4>
                Research shows there may be a connection between poor dental health and serious health conditions. Regular dental check-ups are an essential part of maintaining your overall health.
           </div>
           <hr class="solid">
            <button type="button" class="btn btn-outline-secondary">Cleanings and Exams</button>
            <hr class="solid">
            <button type="button" class="btn btn-outline-secondary">Basic Dental Work</button>
            <hr class="solid">
            <button type="button" class="btn btn-outline-secondary">Major Dental Work</button>    
            <hr class="solid">
            <button type="button" class="btn btn-outline-secondary">Orthodontia</button>  
            <hr class="solid">
            <div class="input-text">
                <input type="checkbox">
               I don't need dental coverage
              </div>
           
              
        
        </div>

       
    </div>

</div>
<p></p>

<hr class="solid">

<div class="button">
    <div class="button-prev">
        <button type="button" routerLink="/medical" class="btn">Previous</button>    
    </div>
    
    <div class="button-next" >
        <button  type="button" routerLink="/almost-done" class="btn" >Next</button>    
    </div>
     
</div>
