<ul class="nav nav-tabs" style="background-color: rgb(232, 229, 229);" id="myTab" role="tablist"> 
    
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Health & Benefits</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="moneymanagement-tab" data-bs-toggle="tab" data-bs-target="#moneymanagement" type="button" role="tab" aria-controls="moneymanagement" aria-selected="false">Money Management</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="lifeevents-tab"  data-bs-toggle="tab" data-bs-target="#lifeevents" type="button" role="tab" aria-controls="lifeevents" aria-selected="false">Life Events</button>
    </li>
  </ul>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><app-inner-tabs></app-inner-tabs></div>
    <div class="tab-pane fade" id="moneymanagement" role="tabpanel" aria-labelledby="moneymanagement-tab">...</div>
    <div class="tab-pane fade" id="lifeevents" role="tabpanel" aria-labelledby="lifeevents-tab">...</div>
  </div>


  