.nav nav-tabs{
    margin-bottom: 0px
}

.nav-item{
    
    padding-left: 70px;
   
}


.nav-link{
    
    margin-left: 70px;
    padding-right: 50px;
    
    
}

.nav-link:active{
    background-color: rgb(232, 229, 229);
    text-decoration: underline;
    text-decoration-color: #0262fe;
    color: #0262fe;
    
}

