<div class="menu-links">
    <img
      class="lang"
      width="30"
      alt="Language Logo"
      src="https://img.icons8.com/ios/2x/globe.png"
    />
    <img
      class="msg"
      width="30"
      alt="Message Logo"
      src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/2x/external-message-contact-flatart-icons-outline-flatarticons.png"
  />
    <img
     class="cart"
     width="30"
     alt="Cart Logo"
     src="https://img.icons8.com/pastel-glyph/2x/shopping-cart--v2.png"
/>
   <img
    class="noti"
    width="30"
    alt="Notification Logo"
    src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/2x/external-notification-interface-kiranshastry-lineal-kiranshastry.png"
/>
  </div>