.toolbar3 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #83beeb;
  }

  .spacer {
    flex: 01;
  }


  .content{
    margin-top: 135px;
    padding-left: 50px;
    font-size: 5mm;
    padding-top: 25px;
    font-family: sans-serif;
    padding-bottom: 15px;
    color: rgb(61, 157, 176);
    background-color: rgb(232, 229, 229);
  }

  .outerTabs{
   margin-top: 0px;
   
   
  }
