<h3 class="title" style="text-align: center;">To get started, please provide the following details about yourself and any family members you plan to cover this year.</h3>
<p class="subtitle text-muted"  style="text-align: center;"><a style="color: red;">*</a>All the fields marked with an asterisk are required fields.</p>

<div class="progress">
    <div class="progress-bar" role="progressbar"  style="width: 14.28%;" aria-valuenow="14.28" aria-valuemin="0" aria-valuemax="100"> Step 1 of 7</div>
</div>

<hr class="solid">


<div class="flex-container">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">USER</h5>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">First Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>
      
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" >
      </div>
       
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Birthdate</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">SSN</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Gender</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Relationship</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>
      <a  class="card-link" >Address</a>
    </div>
  </div>

        <div class="card" style="width: 18rem;" style="margin-left: 50px;" >
            <div class="card-body" >
                <h5 class="card-title">Dependent 1</h5>
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">First Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" >
                </div>
                
                <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" >
                </div>
                
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Birthdate</label>
                <input type="text" class="form-control" id="formGroupExampleInput" >
                </div>
        
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">SSN</label>
                <input type="text" class="form-control" id="formGroupExampleInput" >
                </div>
        
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Gender</label>
                <input type="text" class="form-control" id="formGroupExampleInput" >
                </div>
        
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Relationship</label>
                <input type="text" class="form-control" id="formGroupExampleInput" >
                </div>
            </div>
        </div>


    <div class="card-add" style="width: 18rem;" style="box-sizing: content-box;" style="margin-left: 50px;" >
        <div class="card-body" >
            <a  class="card-link" > + Add Dependent</a>
            
        </div>
    </div>
</div>

<hr class="solid">


<p style="text-align: center;">
    Your dependent(s) must meet eligibility criteria. Documentation may be requested at any time to show your proof of eligibility for a covered dependent. If it is determined that your dependent does not meet the plan eligibility rules, you may be subject to penalties that may include repayment of premium, repayment of claims and disciplinary action.
</p>

      <div class="input-text">
        <input type="checkbox">
        By checking this boc you signify that you understand the dependent eligibility requirements and agree with the terms above
      </div>
   
      <hr class="solid">

       
   
<div class="button">
    <div class="button-prev">
        <button type="button" routerLink="/" class="btn">Previous</button>    
    </div>
    
    <div class="button-next" >
        <button  type="button" routerLink="/medical" class="btn" >Next</button>    
    </div>
     
</div>
