
<style>


  p {
    margin: 0;
  }

  .spacer {
    flex: 01;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
  }

 .toolbar2 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #83beeb;
  }
 
  .toolbar img {
    margin: 36px;
  }

  .toolbar3 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #83beeb;
  }


  .content{
    margin-top: 135px;
    padding-left: 50px;
    font-size: 5mm;
    padding-top: 25px;
    font-family: sans-serif;
    padding-bottom: 15px;
    color: rgb(61, 157, 176);
    background-color: rgb(232, 229, 229);
  }

  .outerTabs{
   margin-top: 0px;
   
   
  }




</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Acme Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Acme_Markets_lolo.svg"
  />
  <div class="spacer"></div>
  <img
    width="300"
    alt="Mercer Marketplace Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUwrAO_QLalyT3VOX6Z7DrJXLaYBtEuXGu_Zj0unUPyX4yIEB15V9LNaVv0mP_LjhtCw&usqp=CAU"
  />    
</div>


<!-- Toolbar2 -->

<div class="toolbar2" role="banner">

<app-menu-button></app-menu-button>

<div class="spacer"></div>

<app-menu-links></app-menu-links>
    
</div>


<div class="content">Knowledge Center</div>

<div class="toolbar3" role="banner">

  <app-menu-button></app-menu-button>
  
  <div class="spacer"></div>
  
  <app-menu-links></app-menu-links>
      
  </div>
<!-- outer tab -->

<div class="outerTabs">

  <app-outer-tabs></app-outer-tabs>
</div>


<router-outlet></router-outlet>