p {
    margin: 0;
  }

  .spacer {
    flex: 01;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
  }

 .toolbar2 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: #83beeb;
  }
 
  .toolbar img {
    margin: 36px;
  }

  .button-row{
    margin-top: 135px;
    display: table-cell;
  width: 490px;


  }

  