<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Acme Logo"
    routerLink="/"
    style="cursor: pointer;"
    src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Acme_Markets_lolo.svg"
  />
  <div class="spacer"></div>
  <img
    width="300"
    alt="Mercer Marketplace Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUwrAO_QLalyT3VOX6Z7DrJXLaYBtEuXGu_Zj0unUPyX4yIEB15V9LNaVv0mP_LjhtCw&usqp=CAU"
  />    
</div>


<!-- Toolbar2 -->

<div class="toolbar2" role="banner">

<app-menu-button></app-menu-button>

<div class="spacer"></div>

<app-menu-links></app-menu-links>
    
</div>

<router-outlet></router-outlet>

<!-- <app-demo-example></app-demo-example> -->

<!-- <app-footer></app-footer> -->