<h3 class="title" style="text-align: center;">Almost done! Now let's get these final questions answered so we can personalize your benefits package!</h3>
<p class="subtitle text-muted"  style="text-align: center;">Benefits Related Information Request</p>

<div class="progress">
    <div class="progress-bar" role="progressbar"  style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> Step 4 of 4</div>
</div>

<hr class="solid">

<div class="flex-container">
    <div class="card" style="width: 35rem;" style="display: flex;">
       
        <div class="card-body" style="display:grid" >
            <div>
                If you currently utilize tobacco products, will you participate in a smoking cessation program? You will pay a lower cost for coverage if you are not a tobacco user.
           </div>
           <hr class="solid">
            <div class="yes-no" style="display: flexbox;">
                <button type="button" style="font-size: 30px;" class="btn btn-outline-secondary">Yes</button>    
                <div class="vl"></div>
                <button type="button" style="margin-left: 900px;" style="font-size: 30px;" class="btn btn-outline-secondary">No</button>  
                </div>
            
           
              
        
        </div>

       
    </div>

</div>
<p></p>

<hr class="solid">

<div class="button">
    <div class="button-prev">
        <button type="button" routerLink="/dental" class="btn">Previous</button>    
    </div>
    
    <div class="button-submit" >
        <button  type="button" routerLink="/completed" class="btn" >Submit</button>    
    </div>
     
</div>
