

<h3 class="title" style="text-align: center;">How would you describe you and your family's anticipated medical care needs in the coming year?</h3>
<p class="subtitle text-muted"  style="text-align: center;">Be sure to consider both planned care and potential unplanned care for everyone you plan to cover.</p>

<div class="progress">
    <div class="progress-bar" role="progressbar"  style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> Step 2 of 4</div>
</div>

<hr class="solid">

<div class="flex-container">
    <div class="card" style="width: 35rem;" style="display: flex;">
        <div class="card-body" style="display:grid" >
            <button type="button" class="btn btn-outline-secondary">Preventive care with occasional non-urgent illness</button>
            <hr class="solid">
            <button type="button" class="btn btn-outline-secondary">Treatment for minor conditions and/or have some health concerns</button>
            <hr class="solid">
            <button type="button" class="btn btn-outline-secondary">Treatment for chronic medical condition or other critical illness</button>        
        </div>

       
    </div>

</div>
<p></p>

<hr class="solid">

<div class="button">
    <div class="button-prev">
        <button type="button" routerLink="/form" class="btn">Previous</button>    
    </div>
    
    <div class="button-next" >
        <button  type="button" routerLink="/dental" class="btn" >Next</button>    
    </div>
     
</div>
