
.title{
    margin-top: 180px;
    margin-top: 180px;
    margin-left: 350px;
    margin-right: 350px;
    padding-left: 80px;
    padding-right: 80px;
}
.vl {
    border-left: 6px solid green;
    height: 500px;
    display: inline;
}


.flex-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px; 
    justify-content: center;
}

.card-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button{
    margin-top: 25px;
    padding-bottom: 25px;
    margin-left: 700px;
}

.button-prev {
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding-bottom: 20px;
  }
  .button-prev:hover{
      background-color: rgb(212, 211, 211);
  }

  .button-next {
    margin-left: 10px;  
    background-color:#83beeb;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 12px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7c8288;
    color: white;
    text-align: center;
    align-items: center;
  }

  .progress{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(124, 124, 124, 0.19); */
    border-radius: 15px;
    width: 850px;
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 240px;
    /* justify-content: center; */
}